form(path="/form-route")
    section(name="name" expected-response="exp")
        header #{header}
        ul
            li
                a(href="#{items[0].href}") #{items[0].description}
        footer #{footer}
