section
    if NewsInfos.preBody
        p
            | #{NewsInfos.preBody}
    p
        | Title: #{NewsInfos.title}
    p
        | Date: #{NewsInfos.date}
    p
        | Article: #{NewsInfos.article}